<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PetClinic Login Page</title>
</head>
PetClinic Login Page
<form action="/login" method="post">

    <label>
        username:
        <input type="text" name="username"/>
    </label><br/>

    <label>
        password:
        <input type="password" name="password">
    </label><br/>

    <label>
        remember me:
        <input type="checkbox" name="remember-me"/>
    </label>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Login"/>

    <span style="color:red"><label th:if="${param.loginFailed != null}">Login Failed!</label></span>

</form>
</html>